<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up</h1>

    <form action="login" method="post">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" id="uname" placeholder="Username" required>

        <label for="">email</label>
        <input type="email" id="email" placeholder="Email" required>

        <label for="">Password</label>
        <input type="password" id="password" placeholder="Password" required>

        <button type="submit">Submit</button>
    </form>
</body>
</html>